.card {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card .artiste-name {
    margin-right: 10px;
}

.card .btn-modify,
.card .btn-delete {
    padding: 5px 10px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
main{
    width: 80vw;
    margin-left: 18vw;
    background-color: #181818;
    margin-top: 10px;
    min-height: 98vh;
}