
.liste-artiste{
    margin: 0% 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 90%; /* ajustez la hauteur maximale selon vos besoins */
    overflow-y: auto;
}

.titre-page{
    text-align: center;
}

.artiste{
    width: 12vw;
    height: 30vh;
    margin: 2%;
    border-radius: 10px;   
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; 
    background-color: #333;
}



.artiste img{
    width: 100px;
    height: 100px;
    z-index: 1;
    object-fit: cover;
    border-radius: 50%;
}

.contenu{
    z-index: 1;
    color: rgb(255, 255, 255);   
    text-align: center;
    right: 1rem;
    bottom: 0;
}


 .contenu >  a{
        text-decoration: none;
        color: rgb(255, 255, 255);
  }

a:hover {
    opacity: 0.5;
}

main{
    width: 80vw;
    margin-left: 18vw;
    background-color: #181818;
    border-radius: 10px;
    margin-top: 10px;
    height: 98vh;
}