body{
    background-color: #333;
    color: white;
}

nav ul{
    list-style: none;
    display: flex;
    
}

nav ul li{
    margin: 0 15px 0 0;
}

nav ul li a{
    text-decoration: none;
    color: white;
}


nav ul li a:hover{
    border-bottom: solid 1px white;
}

header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}