@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
    font-family: 'Poppins', sans-serif; 
}

body{
    margin: 0;
    padding: 0;
}

main{
    width: 80vw;
    margin-left: 18vw;
    background-color: #181818;
    margin-top: 10px;
    min-height: 98vh;
}